<div class="card mb-3">
    <div class="card-header bg-info text-white">
      Lesson 3: Components with inline Style & Template
    </div>
    <div class="card-body">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">ng g c component_name --inline-style</div>
            .css/.scss file does not created, you mention those stuff in the .ts or style.css
          </div>
          <span class="badge bg-primary rounded-pill">Inline Style</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">ng g c component_name --inline-template</div>
            .html file does not created, you mention those stuff in the .ts 
          </div>
          <span class="badge bg-primary rounded-pill">Inline Template</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">ng g c component_name --inline-style --inline-template</div>
            .css/.scss & .html file does not created, you mention those stuff in the .ts
          </div>
          <span class="badge bg-primary rounded-pill">Inline Style & Template</span>
        </li>
      </ol>
    </div>
    <div class="card-footer">
      On 03-06-2022
    </div>
  </div>
